body {
    color:white;
}

h2 {
    vertical-align: top;
    text-align: center;
    color: white;
}

h1{
    font-size: 300%;
    text-align: center;
    vertical-align: top;
    color: firebrick;
}

img {
    vertical-align: middle;
}

.quad1 {
    background-color: white;
    width: 20%;
    height: 20%;
}

.quad2 {
    background-color: gold;
    width: 80%;
    height:20%;
}

.quad3 {
    background-color: darkolivegreen;
    width: 20%;
    height: 515px;
    vertical-align: top;
}

.quad4 {
    background-color: firebrick;
    width: 80%;
    height: 515px;
    color: white;
}

iframe {
    height: 100%;
    width: 100%;
}

#clothing {
    border: 2px double;
    width: 350px;
}

.clothingtable {
    font-size: 20pt;
}

a:hover {
    color: white;
}

a:active, a:visited {
    color: gold;
}

a:link {
    color: white;
}

.books td {
    border: 2px double;
}

.home {
    font-size: 18pt;
    color: white;
}